<html>
<head>
	<title> 5C - Decision Support </title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- jQuery for JavaScript components -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<style type="text/css">
		/* The Modal (background) */
		.modal {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			padding-top: 100px; /* Location of the box */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}

		/* Modal Content */
		.modal-content {
			background-color: #fefefe;
			margin: auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
		}

		/* The Close Button */
		.close {
			color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}
	</style>	
</head>
<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">5C Network</a>
	    </div>
	    <ul class="nav navbar-nav">
<!-- 	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li>
	      <li><a href="#">Page 3</a></li> -->
	    </ul>
	  </div>
	</nav>
	
	<div class = "row">
	
		<div class = "col-xs-5" style="margin-left:20px;">
			
			<h2> Patient Symptoms </h2>

			{% if patientDetails  %}

			<table class = "table">
				<tbody>
					<tr>
						<td> Sex: </td>
						<td> {{patientDetails.sex}} </td>
					</tr>
					<tr>
						<td> Age: </td>
						<td> {{patientDetails.age}} </td>
					</tr>
					<tr>
						<td> Smoking History: </td>
						<td> {{patientDetails.smokingHistory}} </td>
					</tr>
					<tr>
						<td> Allergies & Exposure: </td>
						<td> {{patientDetails.allergies}} </td>
					</tr>
					<tr>
						<td> Cough: </td>
						<td> {{patientDetails.cough}} </td>
					</tr>
					<tr>
						<td> Fever: </td>
						<td> {{patientDetails.fever}} </td>
					</tr>
					<tr>
						<td> Hemoptysis: </td>
						<td> {{patientDetails.hemoptysis}} </td>
					</tr>
					<tr>
						<td> Breathlesness: </td>
						<td> {{patientDetails.breathlessness}} </td>
					</tr>
					<tr>
						<td> Skin rash / joint pain / Arthritis: </td>
						<td> {{patientDetails.skinrash}} </td>
					</tr>
					<tr>
						<td> History of TB / weight loss / malignancy: </td>
						<td> {{patientDetails.tb}} </td>
					</tr>
					<tr>
						<td> Collagen Vascular Disease (eg. swallowing difficulty, Raynauds, etc.): </td>
						<td> {{patientDetails.cvd}} </td>
					</tr>
					<tr>
						<td> Sinusitis: </td>
						<td> {{patientDetails.sinusitis}} </td>
					</tr>
					<tr>
						<td> Asthma: </td>
						<td> {{patientDetails.asthma}} </td>
					</tr>
					<tr>
						<td> DM: </td>
						<td> {{patientDetails.dm}} </td>
					</tr>
					<tr>
						<td> Eosinophilia: </td>
						<td> {{patientDetails.eosinophilia}} </td>
					</tr>
					<tr>
						<td> HIV: </td>
						<td> {{patientDetails.hiv}} </td>
					</tr>
					<tr>
						<td> Mining/Tunnel Work: </td>
						<td> {{patientDetails.mining}} </td>
					</tr>

				</tbody>	
			</table>

			{% else %}
			Clinical observations not collected
			{% endif %}

		</div>

		<div id="radioData" class="col-xs-5">

			<form action = "/chest/radio/response/" method = "post"> {% csrf_token %}

			<label for="honeycombing">Honeycombing: </label>
			<input type = "checkbox" id="honeycombing" name="honeycombing" value="Y"></input><br><br>

			<label for="septal">Septal Thickening</label>
			<select class="form-control" id="septal" name = "septal">
				<option value="NULL">NIL</option>
				<option value="Septal Thickening-Smooth">Smooth</option>
				<option value="Septal Thickening-Irregular">Irregular</option>
				<option value="Septal Thickening-Nodular">Nodular</option>
				<option value="Septal Thickening-Bilateral">Bilateral</option>
			</select><br><br>

			<label for="groundGlass">Ground Glass</label>
			<select class="form-control" id="groundGlass" name = "groundGlass">
				<option value="NULL">NIL</option>
				<option value="Ground Glass-Focal">Focal</option>
				<option value="Ground Glass-Diffuse">Diffuse</option>
				<option value="Ground Glass-Patchy">Patchy</option>
			</select><br><br>

			<label for="consolidation">Consolidation</label>
			<select class="form-control" id="consolidation" name = "consolidation">
				<option value="NULL">NIL</option>
				<option value="Consolidation-Iobar">Iobar</option>
				<option value="Consolidation-Multiple">Multiple</option>
				<option value="Consolidation-Subpleural">Subpleural</option>
				<option value="Consolidation-Peribronchovascualar">Peribronchovascualar</option>
				<option value="Consolidation-Peripheral">Peripheral</option>
				<option value="Consolidation-Acute">Acute</option>
				<option value="Consolidation-Persistent">Persistent</option>
			</select><br><br>

			<label for="fibrosis">Fibrosis</label>
			<select class="form-control" id="fibrosis" name = "fibrosis">
				<option value="NULL">NIL</option>
				<option value="Fibrosis-Apical">Apical</option>
				<option value="Fibrosis-Mid">Mid</option>
				<option value="Fibrosis-Basal">Basal</option>
				<option value="Fibrosis-Mixed">Mixed</option>
				<option value="Fibrosis-Subpleural">Subpleural</option>
			</select><br><br>

			<label for="nodules">Nodules</label>
			<select class="form-control" id="nodules" name = "nodules">
				<option value="NULL">NIL</option>
				<option value="Nodules-Unilateral">Unilateral</option>
				<option value="Nodules-Bilateral">Bilateral</option>
				<option value="Nodules-Discreet">Discreet</option>
				<option value="Nodules-Illdefined">Ill-defined</option>
				<option value="Nodules-Random">Random</option>
				<option value="Nodules-Peribronchovascular">Peribronchovascular</option>
				<option value="Nodules-Perilymphatic">Perilymphatic</option>
				<option value="Nodules-Centrilobular">Centrilobular</option>
				<option value="Nodules-Fissural">Fissural</option>
			</select><br><br>


			<label for="massLesion">Mass Lesion: </label>
			<input type = "checkbox" id="massLesion" name="massLesion" value="Y"></input><br><br>

			<label for="treeInBudLesion">Tree in bud lesions: </label>
			<input type = "checkbox" id="treeInBudLesion" name="treeInBudLesion" value="Y"></input><br><br>

			<label for="airTrapping">Air Trapping: </label>
			<input type = "checkbox" id="airTrapping" name="airTrapping" value="Y"></input><br><br>

			<label for="mosaicAttenuation">Mosaic Attenuation: </label>
			<input type = "checkbox" id="mosaicAttenuation" name="mosaicAttenuation" value="Y"></input><br><br>

			<label for="bronchiectasis">Bronchiectasis</label>
			<select class="form-control" id="bronchiectasis" name = "bronchiectasis">
				<option value="NULL">NIL</option>
				<option value="Bronchiectasis-Central">Central</option>
				<option value="Bronchiectasis-Non Central">Non Central</option>
			</select><br><br>

			<label for="cavity">Cavity</label>
			<select class="form-control" id="cavity" name = "cavity">
				<option value="NULL">NIL</option>
				<option value="Cavity-Smooth">Smooth Wall</option>
				<option value="Cavity-Nodular">Nodular Wall</option>
			</select><br><br>	

			<label for="cysts">Cysts</label>
			<select class="form-control" id="cysts" name = "cysts">
				<option value="NULL">NIL</option>
				<option value="Cysts-Thin Wall">Thin Wall</option>
				<option value="Cysts-Thick Wall">Thick Wall</option>
				<option value="Cysts-No Wall">No Wall</option>
				<option value="Cysts-Irregular">Irregular</option>
			</select><br><br>

			<label for="emphysema">Emphysema: </label>
			<input type = "checkbox" id="emphysema" name="emphysema" value="Y"></input><br><br>

			<label for="lymphNodes">Lymph Nodes</label>
			<select class="form-control" id="lymphNodes" name = "lymphNodes">
				<option value="NULL">NIL</option>
				<option value="Lymph Nodes-Unilateral">Unilateral</option>
				<option value="Lymph Nodes-Bilateral">Bilateral</option>
				<option value="Lymph Nodes-Hilar">Hilar</option>
				<option value="Lymph Nodes-Calcifications">Calcifications</option>
			</select><br><br>

			<label for="pleuralEffusion">Pleural Effusion: </label>
			<input type = "checkbox" id="pleuralEffusion" name="pleuralEffusion" value="Y"></input><br><br>

			<label for="pleuralThickening">Pleural Thickening</label>
			<select class="form-control" id="pleuralThickening" name = "pleuralThickening">
				<option value="NULL">NIL</option>
				<option value="Pleural Thickening-Apical">Apical</option>
				<option value="Pleural Thickening-Basal">Basal</option>
				<option value="Pleural Thickening-Calcifications">Calcifications</option>
			</select><br><br>			

			<label for="crazyPaving">Crazy Paving: </label>
			<input type = "checkbox" id="crazyPaving" name="crazyPaving" value="Y"></input><br><br>

			<label for="haloSign"> Halo Sign: </label>
			<input type = "checkbox" id="haloSign" name="haloSign" value="Y"></input><br><br>

			<label for="reverseHalo"> Reverse Halo: </label>
			<input type = "checkbox" id="reverseHalo" name="reverseHalo" value="Y"></input><br><br>

			<label for="fat"> Fat: </label>
			<input type = "checkbox" id="fat" name="fat" value="Y"></input><br><br>

			<label for="heart">Heart</label>
			<select class="form-control" id="heart" name = "heart">
				<option value="NULL">NIL</option>
				<option value="Heart-Small">Small</option>
				<option value="Heart-Large">Large</option>
			</select><br><br>

			<button type="submit" class="btn btn-primary" id="submit">Obtain Diagnosis</button>

			</form>
		

		</div>

	<!-- Modal to display diagnosis -->
	<div id="modal" class="modal">
		<div class = "modal-content">
		<span class="close">&times;</span>
		<p id = "modal-paragraph"></p>
		</div>	
	</div>

	</body>
	</html>