<html>
<head>
	<title> 5C - Decision Support </title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- jQuery for JavaScript components -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">5C Network</a>
	    </div>
	    <ul class="nav navbar-nav">
<!-- 	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li>
	      <li><a href="#">Page 3</a></li> -->
	    </ul>
	  </div>
	</nav>
	
	<div class = "row" style="margin-left:50px">

		<h4> Selected Symptoms: </h4> 
		{% if selectedSymptom  %}
			{% for item in selectedSymptom %}
				<button type = "button" class = "btn btn-primary" disabled style="margin-top:10px;"> {{item.selectedItem}} </button>
			{% endfor %}
		{% endif %}
		<br><br>

	</div>	

	<div class = "row" name = "possibleDiagnosis">

		<div class = "col-xs-6"  style="margin-left:50px;">
			
		<!-- Possible Diagnosis -->
		<h4> Possible Diagnosis </h4>
		{% if exactDiagnosis  %}
				<table class = "table">
					<thead>
						<tr>
							<th> Disease </th>
							<th> Associated Symptoms </th>
						</tr>
					</thead>
					<tbody>
						{% for item in  exactDiagnosis %}
							<tr>
								<td> {{item.disease}} </td>
								<td> {{item.symptoms}} </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<h6> No disease matches exact list of symptoms entered. </h6>
			{% endif %}				
			<br><br>	

			


		<!-- Differential Diagnosis -->

			{% if possibleDiagnosis  %}
				<h4> Differential Diagnosis </h4>
				<table class = "table">
					<thead>
						<tr>
							<th> Disease </th>
							<th> Associated Symptoms </th>
						</tr>
					</thead>
					<tbody>
						{% for item in  possibleDiagnosis %}
							<tr>
								<td> {{item.disease}} </td>
								<td> {{item.symptoms}} </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<h2> Inconclusive Diagnosis </h2>
			{% endif %}				
			<br><br>
		</div>	
		
		
	</div>
	</body>
	</html>